{{ define "extrahead" }}
<style>
li {
  font-size: 1.1em;
  padding-top: 0.5em;
}
</style>
{{ end }}

{{ define "main" }}

<a href="..">⮢ Up</a>

<p>This news feed tracks the following feeds:</p>

<ul>
{{ range .Pages}}
<li>
  {{ if .Title }}
    <a href="{{ .Params.id }}">{{ .Title | truncate 80 }}</a>
  {{ else }}
    <a href="{{ .Params.id }}">{{ .Params.Feed.feedlink }}</a>
  {{ end }}
  {{ if .Description }}
    &mdash;
    {{ .Description | truncate 200 }}
  {{ end }}
</li>
{{ end }}
</ul>

{{ end }}
