{{ define "extrahead" }}
<style>
h1 {
  font-size: 1.1em;
  text-align: left;
  font-weight: normal;
  margin-bottom: 1.3em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: 1.3em;
  font-weight: normal;
}

div.feedDetails {
  margin: 1em 0 2em 0;
  padding: 0.8em 0.5em 0.8em 2em;
  background-color: #d5d5d5;
}

div.feedDetails > a {
  margin: 0;
}

p {
  font-size: 1.2em;
}
</style>
{{ end }}

{{ define "main" }}
<a href="..">⮢ Up</a>

<div class="feedDetails">
<h1>Feed details</h1>
<h2>{{ .Title }}</h2>

{{ if .Params.Feed.Link }}
  <a href="{{ .Params.Feed.Link }}">{{ .Params.Feed.Link }}</a>
{{ end }}

{{ if .Params.Feed.FeedLink }}
    &mdash;
  <a href="{{ .Params.Feed.FeedLink }}">Subscribe</a>
{{ end }}

{{ if .Description }}
  <p class="description">
  {{ .Description | truncate 1000 }}
  </p>
{{ end }}

{{ if .Params.Feed.Authors }}
  Written by:
  {{ $authors := slice }}
  {{ range .Params.Feed.Authors }}
    {{ $authors = $authors | append .name }}
  {{ end }}
  {{ delimit $authors ", " ", and " }}
{{ end }}
</div>

{{ $posts := where
      (where .Site.RegularPages "Section" "post")
    "Params.feed_id" .Params.id }}

{{ if $posts }}
  <h3>Posts</h3>
  {{ range $posts }}
    {{ partial "shortpost" . }}
  {{ end }}
{{ else }}
  <h3>No recent posts available</h3>
{{ end }}

{{ end }}
