{{ define "extratitle" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Feeds</a></li>
  </ul>
</nav>
{{ end }}


{{ define "main" }}

{{ $feeds := (sort .Pages "Title") }}

<h2 class="subtitle is-4">Web Feed List</h2>

<p class="block">
{{ $feeds | len }} web feeds are discoverable through the blogroll network.
</p>

<ul>
{{- range sort (sort $feeds ".Params.feedlink") ".Params.blogrolls" "desc" -}}
<li>
  <a href="/discover/feed-{{ .Params.feedid }}/">

    {{ if .Title }}
      {{ .Title }}
    {{ else }}
      {{ .Params.feedlink }}
    {{ end }}

  {{ if ne (.Params.blogrolls | len) 0 }}
  <span class="tag">
    Blogroll
  </span>
  {{ end }}

  {{ if eq .Params.feedtype "rss" }}
  <span class="tag">RSS Feed</span>
  {{ else if eq .Params.feedtype "atom" }}
  <span class="tag">Atom Feed</span>
  {{ else }}
  <span class="tag">Web Feed</span>
  {{ end }}

  </a>
  {{ if .Description }}
  &nbsp;&mdash;&nbsp; {{ .Description | truncate 120 }}
  {{ end }}
</li>
{{- end -}}
</ul>
</p>

{{- end -}}
