{{ define "extratitle" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Feeds</a></li>
  </ul>
</nav>
{{ end }}


{{ define "main" }}

{{ $feeds := (sort .Pages "Title") }}

<h2 class="subtitle is-4">Web Feed List</h2>

<p class="block">
{{ $feeds | len }} web feeds are discoverable through the blogroll network.
You may also browse by <a href="/cats/">category</a>.
</p>

<p class="block">
Feeds are ordered by their <a href="/scoring/">score</a>.
</p>

<ul>
{{- range sort (sort $feeds ".Params.feedlink") ".Params.Score" "desc" -}}
<li class="pt-5">
  <a href="/discover/feed-{{ .Params.feedid }}/">

    {{ if .Title }}
      {{ .Title | truncate 120 }}
    {{ else }}
      {{ .Params.feedlink | truncate 120 }}
    {{ end }}

  {{ if ne (.Params.blogrolls | len) 0 }}
  <span class="tag">
    Blogroll
  </span>
  {{ end }}

  <!-- Show podcasts separately, show feeds by type -->
  {{ if .Params.ispodcast }}
    <span class="tag">Podcast</span>
  {{ else if eq .Params.feedtype "rss" }}
    <span class="tag">RSS Feed</span>
  {{ else if eq .Params.feedtype "atom" }}
    <span class="tag">Atom Feed</span>
  {{ else }}
    <span class="tag">Web Feed</span>
  {{ end }}

  </a>
  {{ if .Description }}
  &nbsp;&mdash;&nbsp; {{ .Description | truncate 120 }}
  {{ end }}

  {{ if .Params.categories }}
    <div class="p-3">
    <span>Categories:</span>
    {{ range (first 40 .Params.categories) }}
      <a href="{{ absURL (printf "/cats/#%s" (. | urlize)) }}">
      <span class="tag">
        {{- trim (. | truncate 40) " " -}}
      </span>
      </a>
    {{ end }}
    </div>
  {{ end }}
</li>
{{- end -}}
</ul>
</p>

{{- end -}}
