{{ define "extratitle" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/discover/">Feeds</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
  </ul>
</nav>
{{ end }}

{{- define "main" -}}

<section class="hero is-info mb-6">
  <div class="hero-body">
  <p class="is-size-6">
  {{ .Params.feedlink }}
  </p>

  <h2 class="subtitle is-3 mb-1">{{ .Title | truncate 120 }}</h2>

  {{ if .Params.categories }}
    <div class="tags">
    {{ range (first 10 .Params.categories) }}
      <span class="tag">{{ . | truncate 20 }}</span>
    {{ end }}
    </div>
  {{ end }}

  <p class="tags pb-0 mb-0">
  {{ range $url, $validated := .Params.websites }}
  <span class="tags has-addons mb-0">
    <a rel="ugc" href="{{ $url }}" class="tag is-link">
      {{ if hasPrefix $url "https://bsky.app/" }}
        Bluesky
      {{ else }}
        Website
      {{ end }}
    </a>
    {{ if $validated }}
    <span title="Validated" class="tag is-success is-light">&#x2714;</span>
    {{ else }}
    <span title="Unvalidated" class="tag is-danger is-light">?</span>
    {{ end }}
  </span>
  {{ end }}
  <span class="tags has-addons mb-0">
  <a rel="ugc" href="{{ .Params.feedlink }}" class="tag is-link">
    {{ if eq .Params.feedtype "rss" }}
      RSS
    {{ else if eq .Params.feedtype "atom" }}
      Atom
    {{ else }}
      Web
    {{ end }}
    Feed</a>
  </span>

  {{ range .Params.blogrolls }}
  <span class="tags has-addons mb-0">
  <a rel="ugc" href="{{ . }}" class="tag is-link">OPML Blogroll</a>
  </span>
  {{ end }}

  <!-- display hack -->
  <span class="tags has-addons mb-0"></span>
  </p>

  {{ if .Description }}
  <p class="block is-size-5 pt-5">
  {{ .Description | truncate 240 }}
  </p>
  {{ end }}
  </div>

  {{ if .Params.last_post_date }}
    <div class="hero-body">
    <p class="is-size-7">
    Recent post:
    {{ .Params.last_post_date | time.Format ":date_medium" }}
    </p>
    <a href="{{ .Params.last_post_link }}">
    <p class="is-size-3">
      {{ .Params.last_post_title | truncate 120 }}
    </p>
    </a>

    {{ if .Params.last_post_categories }}
      <div class="tags">
      {{ range .Params.last_post_categories }}
        <span class="tag">{{ . }}</span>
      {{ end }}
      </div>
    {{ end }}

    <p class="is-size-5">
      {{ .Params.last_post_description | truncate 240 }}
    </p>
    </div>
  {{ end }}
</section>

{{ $ctx := . }}

<div class="columns">

  <div class="column is-one-third section">
    <h3 class="subtitle is-3">Related Sites</h3>
    {{ if .Params.relme }}
    <ul>
      {{ range $url, $validated := .Params.relme }}
      <li>
      <a rel="ugc" href="{{ $url }}">{{ $url }}</a>
      {{ if $validated }}
      <span title="Validated" class="tag is-success is-light">&#x2714;</span>
      {{ else }}
      <span title="Unvalidated" class="tag is-danger is-light">?</span>
      {{ end }}
      </li>
      {{ end }}
      </ul>
    {{ else }}
      <p class="block">
      None found.
      </p>
      <p class="block p-3" style="border-left: 0.2em solid #4258ff;">
      If you are the site owner, you can add <code>&lt;link rel="me" ...&gt;</code> elements to link to your other sites or profile pages.
      These will appear after the next crawl.
      </p>
    {{ end }}
  </div>

  <div class="column is-one-third section">
    <h3 class="subtitle is-3">Blogroll</h3>
    {{ if .Params.recommended }}
      Web feeds discovered via OPML blogroll
      <ul class="pl-4">
      {{ range $rec := sort .Params.recommended }}
        {{ partialCached "feed_short.html" (dict "context" $ctx "rec" $rec) $rec }}
      {{ end }}
      </ul>
    {{ else }}
      <p class="block">
      None found.
      </p>
      <p class="block p-3" style="border-left: 0.2em solid #4258ff">
      Web feeds (RSS feeds or Atom feeds) will appear here.
      If you are the site owner you can add an OPML blogroll to <a href="https://alexsci.com/blog/blogroll-network/">recommend other blogs or websites</a>.
      </p>
    {{ end }}
  </div>

  <div class="column is-one-third section">
    <h3 class="subtitle is-3">Subscribers</h3>
    {{ if .Params.recommender }}
      Web feeds that include this feed
      <ul class="pl-4">
      {{ range $rec := .Params.recommender }}
        {{ partialCached "feed_short.html" (dict "context" $ctx "rec" $rec) $rec }}
      {{ end }}
      </ul>
    {{ else }}
      <p class="block">
      None found.
      </p>
      <p class="block p-3" style="border-left: 0.2em solid #4258ff">
      If you'd like to promote this feed you can add it to your OPML blogroll.
      You'll appear here as a subscriber after the next crawl if your site is part of the network.
      </p>
    {{ end }}
  </div>
</div>

<section class="hero is-info">
  <div class="hero-body">
  <h2 class="title is-4">Feed Score</h2>
  <p class="block">
    This feed scored {{ .Params.score }} point in our rating.
  </p>

  <p class="block">
    A feed can 
    <a href="/scoring/">increase its score</a>
    (and appear higher on our list)
    by implementing an OPML blogroll, adding a title, description,
    categories, and more.
  </p>

  <p class="block">
  <details>
    <summary>
      See criteria
    </summary>

    <p class="block p-4">
      {{ range $cat, $score := .Params.score_criteria }}
        {{ $cat }} - {{ $score }}
        <br />
      {{ end }}
    </p>
  </details>
  </p>
  </div>
</section>


{{- end -}}
