{{ define "extratitle" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/discover/">Feeds</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
  </ul>
</nav>
{{ end }}

{{- define "main" -}}

<h2 class="subtitle is-3 mb-1">{{ .Title }}</h2>

<p class="block tags">
{{ if .Params.link }}
  <a rel="ugc" href="{{ .Params.link }}" class="tag is-link">Website</a>
{{ end }}
<a rel="ugc" href="{{ .Params.feedlink }}" class="tag is-link">Web Feed</a>

{{ range .Params.blogrolls }}
<a rel="ugc" href="{{ . }}" class="tag is-link">Blogroll</a>
</a>
{{ end }}
</p>

<p class="block is-size-5">
{{ .Params.Description }}
</p>

{{ $current_feed := .Params.feedlink }}

{{ $fwd_feeds := (slice) }}
{{ $fwd_search := (slice .Params.feedlink) }}
{{ $next_fwd_search := (slice) }}

{{ $rev_feeds := (slice) }}
{{ $rev_search := (slice .Params.feedlink) }}
{{ $next_rev_search := (slice) }}

{{ $SEED_TYPE := 0 }}
{{ $FEED_TYPE := 1 }}

<!-- The longest chain is
  Feed -> Website
  Website -> Blogroll
  Blogroll -> Feed
  Which requires three lookups
-->

{{- $links := (where .Site.RegularPages "Section" "network") -}}
{{ $iters := (slice 1 2 3) }}
{{- range $idx := $iters -}}
  {{- range $link := $links -}}
    {{- if in $fwd_search $link.Params.source_url -}}
      {{- if and (eq $FEED_TYPE $link.Params.destination_type) (ne $SEED_TYPE $link.Params.source_type) -}}
        {{- if eq $current_feed $link.Params.destination_url -}}
          <!-- Don't link back to self -->
        {{- else -}}
          {{- $fwd_feeds = $fwd_feeds | append $link.Params.destination_url -}}
        {{- end -}}
      {{- else -}}
        {{- $fwd_search = $fwd_search | append $link.Params.destination_url -}}
      {{- end -}}
    {{- end -}}
    {{- if in $rev_search $link.Params.destination_url -}}
      {{- if and (eq $FEED_TYPE $link.Params.source_type) (ne $SEED_TYPE $link.Params.destination_type) -}}
        {{- if eq $current_feed $link.Params.source_url -}}
          <!-- Don't link back to self -->
        {{- else -}}
          {{- $rev_feeds = $rev_feeds | append $link.Params.source_url -}}
        {{- end -}}
      {{- else -}}
        {{- $rev_search = $rev_search | append $link.Params.source_url -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}


{{- if $fwd_feeds -}}
<h3 class="subtitle is-4 pt-6">Blogroll</h3>
<p class="block">
The blogroll links to the following feeds
</p>
<p class="block">
<ul>
{{- range (where .Site.RegularPages.ByTitle "Section" "discover") -}}
  {{ if (in $fwd_feeds .Params.feedlink) }}
  <li>
    <a href="/discover/feed-{{ .Params.id }}">
      {{ .Title }}
    </a>
    {{- if .Description -}}
      &nbsp;&mdash;&nbsp; {{ .Description }}
    {{- end -}}
  </li>
  {{- end -}}
{{- end -}}
</ul>
</p>
{{- end -}}


{{- if $rev_feeds -}}
<h3 class="subtitle is-4 pt-6">Linked in these blogrolls</h3>
<p class="block">
This web feed was found in blogrolls related to these web feeds
</p>
<p class="block">
<ul>
{{- range (where .Site.RegularPages.ByTitle "Section" "discover") -}}
  {{ if (in $rev_feeds .Params.feedlink) }}
  <li>
    <a href="/discover/feed-{{ .Params.id }}">
      {{ .Title }}
    </a>
    {{- if .Description -}}
      &nbsp;&mdash;&nbsp; {{ .Description }}
    {{- end -}}
  </li>
  {{- end -}}
{{- end -}}
</ul>
</p>
{{- end -}}


{{- end -}}
