{{ define "extratitle" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/discover/">Feeds</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
  </ul>
</nav>
{{ end }}


{{- define "main" -}}

<h2 class="subtitle is-3 mb-1">{{ .Title }}</h2>

<p class="block tags">
{{ if .Params.link }}
  <a rel="ugc" href="{{ .Params.link }}" class="tag is-link">Website</a>
{{ end }}
<a rel="ugc" href="{{ .Params.feedlink }}" class="tag is-link">Web Feed</a>

{{ range .Params.blogrolls }}
<a rel="ugc" href="{{ . }}" class="tag is-link">Blogroll</a>
</a>
{{ end }}
</p>

<p class="block is-size-5">
{{ .Params.Description }}
</p>


<!-- When searching for recommended feeds, search "forwards" -->
{{ $blogrollUrls := .Params.blogrolls }}
{{ $feedlink := .Params.feedlink }}
{{ $nextUrls := (slice) }}
{{ $prevUrls := (slice) }}
{{- range (where .Site.RegularPages "Section" "network") -}}
  {{- $link := . -}}
  {{ if in $blogrollUrls $link.Params.source_url }}
    {{ $nextUrls = $nextUrls | append $link.Params.destination_url }}
  {{- end -}}
  {{ if eq $link.Params.source_url $feedlink }}
    {{ $nextUrls = $nextUrls | append $link.Params.destination_url }}
  {{- end -}}
  {{ if eq $link.Params.destination_url $feedlink }}
    {{ $prevUrls = $prevUrls | append $link.Params.source_url }}
  {{- end -}}
{{- end -}}

<!-- Go another link -->
{{ $nextTwice := (slice) }}
{{ $prevTwice := (slice) }}
{{- range (where .Site.RegularPages "Section" "network") -}}
  {{- $link := . -}}
  {{ if in $nextUrls $link.Params.source_url }}
    {{ $nextTwice = $nextTwice | append $link.Params.destination_url }}
  {{- end -}}
  {{ if in $prevUrls $link.Params.destination_url }}
    {{ $prevTwice = $prevTwice | append $link.Params.source_url }}
  {{- end -}}
{{- end -}}

{{ $prevFeeds := (slice) }}
{{ $nextFeeds := (slice) }}
{{- range (where .Site.RegularPages.ByTitle "Section" "discover") -}}
  {{ if or (in $nextUrls .Params.feedlink) (in $nextTwice .Params.feedlink) }}
    {{ $nextFeeds = $nextFeeds | append .Params.feedlink }}
  {{ end }}
  {{ if or (in $prevUrls .Params.feedlink) (in $prevTwice .Params.feedlink) }}
    {{ $prevFeeds = $prevFeeds | append .Params.feedlink }}
  {{ end }}
{{- end -}}

{{- if $nextFeeds -}}
<h3 class="subtitle is-4 pt-6">Blogroll</h3>
<p class="block">
The blogroll links to the following feeds
</p>
<p class="block">
<ul>
{{- range (where .Site.RegularPages.ByTitle "Section" "discover") -}}
  {{ if (in $nextFeeds .Params.feedlink) }}
  <li>
    <a href="/discover/feed-{{ .Params.id }}">
      {{ .Title }}
    </a>
    {{- if .Description -}}
      &nbsp;&mdash;&nbsp; {{ .Description }}
    {{- end -}}
  </li>
  {{- end -}}
{{- end -}}
</ul>
</p>
{{- end -}}


<!-- Sometimes the RSS feed links to a website and that links to the OPML, so we need to go two layers -->

{{- if $prevFeeds -}}
<h3 class="subtitle is-4 pt-6">Linked in these blogrolls</h3>
<p class="block">
This web feed was found in blogrolls related to these web feeds
</p>
<p class="block">
<ul>
{{- range (where .Site.RegularPages.ByTitle "Section" "discover") -}}
  {{ if (in $prevFeeds .Params.feedlink) }}
  <li>
    <a href="/discover/feed-{{ .Params.id }}">
      {{ .Title }}
    </a>
    {{- if .Description -}}
      &nbsp;&mdash;&nbsp; {{ .Description }}
    {{- end -}}
  </li>
  {{- end -}}
{{- end -}}
</ul>
</p>
{{- end -}}


{{- end -}}
