<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
    {{ block "extrahead" . }}
    {{ end }}
    {{- block "analytics" . -}}
    {{- end -}}
  </head>
  <body>

  <h1>RSS Blogroll Network</h1>

  <div class="main">
  {{- block "main" . -}}
  {{- end -}}
  </div>

  <footer>
    <div style="font-size: 2em">📡</div>
    <br />
    Powered by <a href="https://github.com/ralexander-phi/Feed2Pages">Feed2Pages</a>
    <br />
    <br />
    Last refreshed: {{ time.Now | time.Format "2 January 2006 at 15:04 (MST)"}}
  </footer>
  </body>
</html>
