<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Feed</title>
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="alternate" type="application/rss+xml" title="Feed" href="/index.xml">
<link rel="_follows" href="/links.opml">

{{ block "extrahead" . }}
{{ end }}
<style>
h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1.4em;
}

img {
  width: 1em;
}

body {
  background-color: #ddd;
  margin: auto;
  max-width: 60em;
  font-family: system-ui, -apple-system, Helvetica;
}

div.main {
  padding: 1em;
}

div.topnav {
  background-color: #58e;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 1.1em;
  margin: 0.5em 0 1em 0;
}

div.topnav > a {
  font-size: 0.9em;
  color: #eee;
  padding-right: 0.8em;
}

div.topnav > a.brand {
  font-size: 1.2em;
  font-weight: bold;
}

div.topnav {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #22c;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 1.2em;
  margin: 0 0 0.2em 0;
}

div.post {
  padding: 1em;
  margin-bottom: 0.2em;
}

div.post div.details {
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

footer {
  margin: 6em;
  text-align: center;
}

ul.pagination {
  text-align: center;
  margin: 3em;
}
li.page-item {
  font-size: 1.2em;
  display: inline;
  padding: 0.4em;
}
</style>
