<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Feed</title>
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="alternate" type="application/rss+xml" title="Feed" href="/index.xml">
<link rel="_follows" href="/links.opml">

{{ block "extrahead" . }}
{{ end }}
<style>
body {
  background-color: #ddd;
  margin: auto;
  font-family: system-ui, -apple-system, Helvetica;
  padding: 1em;
}

table {
  text-align: left;
  margin-top: 10em;
}

td {
  border-bottom: 0.1em solid #222;
  padding: 0.5em;
}

footer {
  margin: 6em;
  text-align: center;
}
</style>
