<div class="post">
  <a href="{{ .Params.post.link }}">
    <h2>
      {{ .Params.post.Title | truncate 120 }}
    </h2>
  </a>


  <span title="{{ .Date }}" >{{ .Params.pretty_age }}</span>
    &mdash;
  <a title="{{ .Params.feed.description }}" href="following/feed-{{ .Params.feed_id}}">
      {{ if .Params.feed.title }}
      {{ .Params.feed.title | truncate 30 }}
      {{ else }}
      {{ (urls.Parse .Params.feed.link).Host }}
      {{ end }}
    </a>
    {{ if .Params.comments_link }}
    &mdash;
    <a title="Comments" href="{{ .Params.comments_link }}">Comments</a>
    {{ end }}

</div>
