{{ define "main" }}

<h1 class="title is-1">Blogroll Network Map</h1>

{{- $feeds := (where .Site.RegularPages.ByTitle "Section" "discover") -}}
<p class="block buttons">
  <a href="discover" class="button is-primary">Explore {{ $feeds | len }} web feeds</a>
  <a href="https://alexsci.com/blog/blogroll-network/" class="button is-secondary">Read the blog post</a>
</p>

<h2 class="subtitle is-4 pt-6">Discover</h2>

<div id="network-graph"></div>

<p class="block">
  Websites can programmatically define a <a href="https://opml.org/blogroll.opml">blogroll using OPML</a>.
  These blogrolls help people who read your blog discover other websites you think are worth promoting.
</p>

<p class="block">
  This project maps connections between blogs and other websites with RSS feeds or web feeds.
  The size and interconnectedness of the network can be tracked over time.
</p>

<p class="block">
Check out
<a href="https://github.com/ralexander-phi/rss-blogroll-network">the GitHub repo</a>
and
<a href="https://alexsci.com/blog/blogroll-network/">the blog post</a>
to learn more.
</p>

<h2 class="subtitle is-4 pt-6">Visualize</h2>

<p class="block">
A visualization of the network is also available.
</p>

<p class="block">
<a class="button is-link" href="/visualize">View Network Graph</a>
</p>

<p class="block">
<a href="/visualize">
<img src="visualize.png">
</a>
</p>


{{- end -}}
