{{ define "main" }}

{{ $nodes := slice }}
{{ $links := slice }}
{{- range (where .Site.RegularPages "Section" "network") -}}
  {{- $src :=  .Params.source_url -}}
  {{- $dst :=  .Params.destination_url -}}
  {{- $nodes = $nodes | append (dict "id" $src "group" 1) -}}
  {{- $nodes = $nodes | append (dict "id" $dst "group" 1) -}}
  {{- $links = $links | append (dict "source" $src "target" $dst) -}}
{{- end -}}

{{ $data := (dict
  "nodes" ($nodes | uniq)
  "links" ($links| uniq)
) }}

<div id="network-graph"></div>

<h2>About</h2>

<p>
RSS feeds can programmatically define a <a href="https://opml.org/blogroll.opml">blogroll using OPML</a>.
These blogrolls help people who read your blog discover other websites you think are worth promoting.
</p>


<p>
This project maps connections between blogs and other RSS-enabled entities.
The size and interconnectedness of the network can be tracked over time.
</p>

<p>
<a href="https://github.com/ralexander-phi/rss-blogroll-network">Learn more</a>
</p>

<p>
<a href="https://alexsci.com/blog/blogroll-network/">Read the blog post</a>
</p>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Destination</th>
    </tr>
  </thead>
  <tbody id="link-table">
  </tbody>
</table>

<script src="d3-7.8.3.min.js"></script>
<script>
  var data = {{ $data }};
  data.links.sort(
    (a, b) => {
      if (a["source"] == b["source"]) {
        return 0;
      } else if (a["source"] > b["source"]) {
        return 1;
      } else {
        return -1;
      }
    }
  );

  var linkTable = document.getElementById("link-table");
  for (const link of data["links"]) {
    const src = link["source"];
    const dst = link["target"];
    // Skip initial list
    if (src.startsWith("file://") || dst.startsWith("file://")) {
      continue;
    }

    var tr = document.createElement("tr");
    var aSrc = document.createElement("a");
    var aDst = document.createElement("a");
    var tdSrc = document.createElement("td");
    var tdDst = document.createElement("td");
    aSrc.innerText = src;
    aDst.innerText = dst;
    aSrc.setAttribute("href", src);
    aDst.setAttribute("href", dst);
    tdSrc.appendChild(aSrc);
    tdDst.appendChild(aDst);
    tr.appendChild(tdSrc);
    tr.appendChild(tdDst);
    linkTable.appendChild(tr);
  }

  const color = d3.scaleOrdinal(d3.schemeDark2);
  const width = 1000;
  const height = 800;
  const links = data.links.map(d => ({...d}));
  const nodes = data.nodes.map(d => ({...d}));

  const simulation = d3.forceSimulation(nodes)
      .force("link", d3.forceLink(links).id(d => d.id))
      .force("charge", d3.forceManyBody())
      .force("x", d3.forceX())
      .force("y", d3.forceY());

  const svg = d3.create("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [-width / 2, -height / 2, width, height])
      .attr("style", "max-width: 100%; height: auto;");

  const link = svg.append("g")
      .attr("stroke", "#151")
      .attr("stroke-opacity", 0.3)
    .selectAll("line")
    .data(links)
    .join("line")
      .attr("stroke-width", 2)
      .attr("fill", "333");

  const node = svg.append("g")
      .attr("stroke", "#333")
      .attr("stroke-width", 2)
    .selectAll("circle")
    .data(nodes)
    .join("circle")
      .attr("r", 5.2)
      .attr("fill", "#FF8800")
      .style("cursor", "pointer");

  node.on("click", (_, d) => {
      window.location.href = d.id
    });

  node.append("title")
      .text(d => d.id);

  node.call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended));

  simulation.on("tick", () => {
    link
        .attr("x1", d => d.source.x)
        .attr("y1", d => d.source.y)
        .attr("x2", d => d.target.x)
        .attr("y2", d => d.target.y);

    node
        .attr("cx", d => d.x)
        .attr("cy", d => d.y);
  });

  function dragstarted(event) {
    if (!event.active) simulation.alphaTarget(0.3).restart();
    event.subject.fx = event.subject.x;
    event.subject.fy = event.subject.y;
  }

  function dragged(event) {
    event.subject.fx = event.x;
    event.subject.fy = event.y;
  }

  function dragended(event) {
    if (!event.active) simulation.alphaTarget(0);
    event.subject.fx = null;
    event.subject.fy = null;
  }

  document.getElementById("network-graph").appendChild(svg.node());
</script>
{{- end -}}
